@model Test2.Models.ProductsAndCartItemViewModel

<h2>Cart</h2>

@Html.ActionLink("Back To Products", "Index")

@using (Html.BeginForm("CreateOrder", "Products", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(cartItem => cartItem.CartItems[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(cartItem => cartItem.CartItems[0].ProductItemId)
            </th>
            <th></th>
        </tr>
        @for (int i = 0; i < Model.CartItems.Count; i++)
        {
            <tr>
                <td>
                    @Html.TextBoxFor(cartItems => Model.CartItems[i].Quantity, new { @Value = Model.CartItems[i].Quantity, min = "1", type = "number" })
                    @Html.HiddenFor(cartItems => Model.CartItems[i].ProductItemId)
                </td>
                <td>
                    @Html.DisplayFor(cartItems => Model.CartItems[i].ProductItemId)
                </td>
                <td>
                    @Html.ActionLink("Remove", "Remove", new { itemID = Model.CartItems[i].ProductItemId })
                </td>
            </tr>
        }
    </table>
    <input type="submit" value="Submit Order" class="btn btn-primary" />
}
@Html.Partial("~/Views/Products/Index.cshtml",Model.CartItemViewModels)
@*@Html.Partial("~/Views/Products/Index.cshtml", Model.Select(x => new Test2.Models.CartItemViewModel { Quantity = x.Quantity, ItemId = x.ItemId }).ToList())*@